<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Santa Clause is here!</title>
    <link rel="stylesheet" href="/assets/style/style.css"/>
</head>
<body>
<header class="main-header">
    <h1>Santa is here!</h1>
    <nav class='nav-menu'>
        <ul>
            <li class='nav-menu-children'><a href='http://localhost:3000/child'>Children</a></li>
            <li class='nav-menu-gifts'><a href='http://localhost:3000/gift'>Gifts</a></li>
            <li>Contact</li>
        </ul>
    </nav>
    <hr/>
</header>
{{{body}}}
<footer>
    <a href="http://localhost:3000/">Footer - lets go!</a>
</footer>
</body>
</html>
