* {
    color: white;
    background-color: black;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rebeccapurple;
}

.main-header {
    text-align: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    border: 1px solid lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;

}


.error {
    background: #ef9a9a;
    border: 3px solid #f44336;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
}

.deletingChild {
    border: 2px solid red;
    border-radius: 3px;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}

.li-one-child-from-list {
    display: flex;
    margin-top: 1%;
    border: 2px solid red;
    padding: 2%;
    border-radius: 10px;
    width: 60%;
    justify-content: center;
}


.li-one-child-from-list:hover {
    border: 2px solid green;
}

.deletingChildButtons {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

button:hover {
    color: dimgray;
}
