<div class="deletingChild">

    <p>Deleting
        <strong>{{child.name}}</strong>
        from Santa list!
    </p>
    <p>Are You sure this child was naughty?
    </p>
    <div class="deletingChildButtons">
        <form method="POST" action="/child/remove/{{this.id}}?_method=DELETE">
            <button type="submit">YES!</button>
        </form>
        <form>
            <button type="submit">Not sure</button>
        </form>
    </div>
</div>
