<div class="deletingChild">
    <form>
        <p>Deleting
            <strong>{{child.name}}</strong>
            from Santa list!
        </p>
        <p>Are You sure this child was naughty?
        </p>

        <button>Yes</button>
        <button>Not sure</button>
    </form>
</div>
