<h2>List of Children</h2>
<ul>
    {{#each childrenList}}
        <li>
            <label>
                {{this.name}}
                <select>
                    <option value="">Empty</option>
                    {{#each ../giftsList}}
                        <option value="{{this.id}}" {{#if (equals this.id ../giftId)}}selected="selected"{{/if}}>{{this
                        .name}}</option>
                    {{/each}}
                </select>
            </label>
            <button type="button">Save</button>
        </li>

    {{/each}}
</ul>

<h3>Add new child to Santa list! </h3>
<form method="POST" action="/child">
    <label>
        Name
        <input type="text" name="name"/>
        <button>Add!</button>
    </label>
</form>
