<h2>List of Good Children</h2>

<ul>
    {{#each childrenList}}
        <li>
            <form method="POST" action="/child/gift/{{this.id}}?_method=PATCH">
                <label>
                    {{this.name}}
                    <select name="giftId">
                        <option value="">Empty</option>
                        {{#each ../giftsList}}
                            <option value="{{this.id}}"
                                    {{#if (equals this.id ../giftId)}}selected="selected"{{/if}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </label>
                <button type="submit">Save</button>
            </form>
        </li>
    {{/each}}
</ul>
<h3>Add new child to Santa list! </h3>
<form method="POST" action="/child">
    <label>
        Name
        <input type="text" name="name"/>
        <button>Add!</button>
    </label>
</form>
<p>
<form method="POST" action="/child/delete/75c9760d-822e-4e78-a37f-18bc9cf4f7af?_method=DELETE">
    <label>Delete
        <button class="remove-task-btn" type="submit">
            Remove
        </button>
    </label>
</form>
</p>
