<h2>List of Gifts</h2>
<ul>
    {{#each giftsList}}
        <li>
            <label>
                {{this.name}}
                <select>
                    <option value="">Empty</option>
                </select>
            </label>
            <button type="button">Save</button>
        </li>

    {{/each}}
</ul>

<h3>Add new gift option to Santa storage! </h3>
<form method="post" action="">
    <label>
        Name
        <input type="text"/>
        Count
        <input type="number"/>
        <button>Add!</button>
    </label>
</form>
