<h2>List of Gifts</h2>
<ul>
    {{#each giftsList}}
        <li>
            {{this.name}} <i>({{this.count}} pcs.</i>)
        </li>

    {{/each}}
</ul>

<h3>Add new gift option to Santa storage! </h3>
<form method="POST" action="/gift">
    <label>
        Name
        <input type="text" name="name"/>

    </label>
    <label>
        Count [pcs]
        <input type="number" name="count"/>
    </label>
    <button>Add!</button>
</form>
